/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor/
.env
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/